@import 'tailwindcss';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@theme {
  --font-sans: 'Pretendard', 'ui-sans-serif', 'system-ui', sans-serif;

  --color-gray-900: #171717;
  --color-gray-800: #262626;
  --color-gray-700: #404040;
  --color-gray-600: #525252;
  --color-gray-500: #737373;
  --color-gray-400: #a3a3a3;
  --color-gray-300: #d4d4d4;
  --color-gray-200: #e5e5e5;
  --color-gray-100: #e8ebed;
  --color-gray-50: #fafafa;
  --color-brand-black: #262626;
  --color-brand-yellow: #ffc117;
  --color-brand-light: #f1f2f5;
  --color-error: #eb3e3e;
}
